.Header {
  font-weight: bold;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;

}

.CategoryName {
  color: #f8f8f8;
  margin: 15px;
  display: block;
}

.CategoryContainer {
  background-color: #181818d2;
  margin-top: 0px;
  top: 90px;
}

/* @media (max-width: 767px) {
  .Header {
    text-align: right;
  }
} */
