.Header {
  font-weight: bold;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
}

.CategoryName {
  color: #ffffff;
  margin: 15px;
  display: block;
}

.CategoryContainer {
  background-color: #1d1d1d;
  margin-top: 2rem;
  padding-bottom: 10px;
  border-radius: 1%;
}
